In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("cleaned_data2.csv")
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1928 entries, 0 to 1927
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   ID            1928 non-null   int64
 1   innings       1928 non-null   int64
 2   BattingTeam   1928 non-null   object
 3   TotalRuns     1928 non-null   int64
 4   Team1         1928 non-null   object
 5   Team2         1928 non-null   object
 6   Venue         1928 non-null   object
 7   TossWinner    1928 non-null   object
 8   TossDecision  1928 non-null   object
 9   WinningTeam   1922 non-null   object
 10  Team1Players  1928 non-null   object
 11  Team2Players  1928 non-null   object
dtypes: int64(3), object(9)
memory usage: 180.9+ KB

In [3]:
from sklearn.preprocessing import OrdinalEncoder

In [10]:
features = ['Team1', 'Team2', 'Venue']
encoder = OrdinalEncoder(handle_unknown='use_encoded_value', unknown_value=-1).fit(df1[features])
df1 = df
df1[features] = encoder.transform(df1[features])
df1.head(1)

,ID,innings,BattingTeam,TotalRuns,Team1,Team2,Venue,TossWinner,TossDecision,WinningTeam,Team1Players,Team2Players
0,335982,1,Kolkata Knight Riders,222,16.0,8.0,19.0,Royal Challengers Bangalore,field,Kolkata Knight Riders,"['R Dravid', 'W Jaffer', 'V Kohli', 'JH Kallis...","['SC Ganguly', 'BB McCullum', 'RT Ponting', 'D..."

In [11]:
features2 = ['Team1', 'Team2', 'Venue', 'Team1Players', 'Team2Players']
df2 = df
#df2[features2].info()

encoder = OrdinalEncoder(handle_unknown='use_encoded_value', unknown_value=-1).fit(df2[features2])
df2[features2] = encoder.transform(df2[features2])
df2.head(1)

,ID,innings,BattingTeam,TotalRuns,Team1,Team2,Venue,TossWinner,TossDecision,WinningTeam,Team1Players,Team2Players
0,335982,1,Kolkata Knight Riders,222,16.0,8.0,19.0,Royal Challengers Bangalore,field,Kolkata Knight Riders,662.0,781.0

### Checking string-encoded categorical data

In [13]:
df3 = df
df3.BattingTeam.value_counts()

Mumbai Indians                 236
Royal Challengers Bangalore    229
Kolkata Knight Riders          227
Chennai Super Kings            209
Kings XI Punjab                195
Rajasthan Royals               194
Delhi Daredevils               162
Sunrisers Hyderabad            156
Deccan Chargers                 75
Delhi Capitals                  66
Pune Warriors                   45
Gujarat Lions                   31
Punjab Kings                    28
Rising Pune Supergiant          16
Gujarat Titans                  16
Lucknow Super Giants            15
Rising Pune Supergiants         14
Kochi Tuskers Kerala            14
Name: BattingTeam, dtype: int64

### Removing duplicates (Delhi Daredevils and Delhi capitals are same team)

### Encoding data in pandas

In [15]:
print("Original features:\n", list(df3.columns))

data_dummies = pd.get_dummies(df3)
print("Features after get_dummies:")
list(data_dummies.columns)

Original features:
 ['ID', 'innings', 'BattingTeam', 'TotalRuns', 'Team1', 'Team2', 'Venue', 'TossWinner', 'TossDecision', 'WinningTeam', 'Team1Players', 'Team2Players']
Features after get_dummies:

['ID',
 'innings',
 'TotalRuns',
 'Team1',
 'Team2',
 'Venue',
 'Team1Players',
 'Team2Players',
 'BattingTeam_Chennai Super Kings',
 'BattingTeam_Deccan Chargers',
 'BattingTeam_Delhi Capitals',
 'BattingTeam_Delhi Daredevils',
 'BattingTeam_Gujarat Lions',
 'BattingTeam_Gujarat Titans',
 'BattingTeam_Kings XI Punjab',
 'BattingTeam_Kochi Tuskers Kerala',
 'BattingTeam_Kolkata Knight Riders',
 'BattingTeam_Lucknow Super Giants',
 'BattingTeam_Mumbai Indians',
 'BattingTeam_Pune Warriors',
 'BattingTeam_Punjab Kings',
 'BattingTeam_Rajasthan Royals',
 'BattingTeam_Rising Pune Supergiant',
 'BattingTeam_Rising Pune Supergiants',
 'BattingTeam_Royal Challengers Bangalore',
 'BattingTeam_Sunrisers Hyderabad',
 'TossWinner_Chennai Super Kings',
 'TossWinner_Deccan Chargers',
 'TossWinner_Delhi Capitals',
 'TossWinner_Delhi Daredevils',
 'TossWinner_Gujarat Lions',
 'TossWinner_Gujarat Titans',
 'TossWinner_Kings XI Punjab',
 'TossWinner_Kochi Tuskers Kerala',
 'TossWinner_Kolkata Knight Riders',
 'TossWinner_Lucknow Super Giants',
 'TossWinner_Mumbai Indians',
 'TossWinner_Pune Warriors',
 'TossWinner_Punjab Kings',
 'TossWinner_Rajasthan Royals',
 'TossWinner_Rising Pune Supergiant',
 'TossWinner_Rising Pune Supergiants',
 'TossWinner_Royal Challengers Bangalore',
 'TossWinner_Sunrisers Hyderabad',
 'TossDecision_bat',
 'TossDecision_field',
 'WinningTeam_Chennai Super Kings',
 'WinningTeam_Deccan Chargers',
 'WinningTeam_Delhi Capitals',
 'WinningTeam_Delhi Daredevils',
 'WinningTeam_Gujarat Lions',
 'WinningTeam_Gujarat Titans',
 'WinningTeam_Kings XI Punjab',
 'WinningTeam_Kochi Tuskers Kerala',
 'WinningTeam_Kolkata Knight Riders',
 'WinningTeam_Lucknow Super Giants',
 'WinningTeam_Mumbai Indians',
 'WinningTeam_Pune Warriors',
 'WinningTeam_Punjab Kings',
 'WinningTeam_Rajasthan Royals',
 'WinningTeam_Rising Pune Supergiant',
 'WinningTeam_Rising Pune Supergiants',
 'WinningTeam_Royal Challengers Bangalore',
 'WinningTeam_Sunrisers Hyderabad']

In [16]:
data_dummies.head()

,ID,innings,TotalRuns,Team1,Team2,Venue,Team1Players,Team2Players,BattingTeam_Chennai Super Kings,BattingTeam_Deccan Chargers,...,WinningTeam_Kolkata Knight Riders,WinningTeam_Lucknow Super Giants,WinningTeam_Mumbai Indians,WinningTeam_Pune Warriors,WinningTeam_Punjab Kings,WinningTeam_Rajasthan Royals,WinningTeam_Rising Pune Supergiant,WinningTeam_Rising Pune Supergiants,WinningTeam_Royal Challengers Bangalore,WinningTeam_Sunrisers Hyderabad
0,335982,1,222,16.0,8.0,19.0,662.0,781.0,0,0,...,1,0,0,0,0,0,0,0,0,0
1,335982,2,82,16.0,8.0,19.0,662.0,781.0,0,0,...,1,0,0,0,0,0,0,0,0,0
2,335983,1,240,6.0,0.0,33.0,377.0,567.0,1,0,...,0,0,0,0,0,0,0,0,0,0
3,335983,2,207,6.0,0.0,33.0,377.0,567.0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,335984,1,129,3.0,13.0,13.0,291.0,876.0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [21]:
features3 = data_dummies.loc[:, 'BattingTeam_Chennai Super Kings':'WinningTeam_Sunrisers Hyderabad']
# Extract NumPy arrays
X = features3.values
y = data_dummies['TotalRuns'].values
print("X.shape: {} y.shape: {}".format(X.shape, y.shape))

X.shape: (1928, 56) y.shape: (1928,)

In [22]:
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=0)
logreg = LogisticRegression()
logreg.fit(X_train, y_train)
print("Test score: {:.2f}".format(logreg.score(X_test, y_test)))

Test score: 0.02

In [24]:
from sklearn.metrics import mean_squared_error

match_y_predicted = logreg.predict(X_test)
match_y_test = y_test

print("Mean squared error is: ", mean_squared_error(match_y_test, match_y_predicted))

Mean squared error is:  1696.3381742738588

In [30]:
from sklearn.ensemble import RandomForestRegressor

ranforeg = RandomForestRegressor(n_estimators=42)
ranforeg.fit(X_train, y_train)
print("Test score: {:.2f}".format(ranforeg.score(X_test, y_test)))
match_y_predicted = ranforeg.predict(X_test)
print("Mean squared error is: ", mean_squared_error(match_y_test, match_y_predicted))

Test score: -0.02
Mean squared error is:  1363.6337629712064