In [1]:
# Importing modules
import pandas as pd
import numpy as np

In [11]:
matches = pd.read_csv(r"./DataSet/IPL_Ball_by_Ball_2008_2022.csv")

In [12]:
matches.describe()

,ID,innings,overs,ballnumber,batsman_run,extras_run,total_run,non_boundary,isWicketDelivery
count,2.259540e+05,225954.000000,225954.000000,225954.000000,225954.000000,225954.000000,225954.00000,225954.000000,225954.000000
mean,8.320470e+05,1.483868,9.185679,3.619750,1.243523,0.066907,1.31043,0.000093,0.049351
std,3.379542e+05,0.503104,5.681797,1.810633,1.618166,0.341470,1.60605,0.009640,0.216600
min,3.359820e+05,1.000000,0.000000,1.000000,0.000000,0.000000,0.00000,0.000000,0.000000
25%,5.012620e+05,1.000000,4.000000,2.000000,0.000000,0.000000,0.00000,0.000000,0.000000
50%,8.297370e+05,1.000000,9.000000,4.000000,1.000000,0.000000,1.00000,0.000000,0.000000
75%,1.178395e+06,2.000000,14.000000,5.000000,1.000000,0.000000,1.00000,0.000000,0.000000
max,1.312200e+06,6.000000,19.000000,10.000000,6.000000,7.000000,7.00000,1.000000,1.000000

In [3]:
def split_train_test(data, test_ratio):
    np.random.seed(42)
    shuffled = np.random.permutation(len(data))
    test_set_size = int(len(data) * test_ratio)
    test_indices = shuffled[:test_set_size]
    train_indices = shuffled[test_set_size:]
    return data.iloc[train_indices], data.iloc[test_indices]

#train_set, test_set = split_train_test(matches, 0.2)

In [5]:
#print(f"Rows in train set: {len(train_set)}\nRows in test set: {len(test_set)}")

Rows in train set: 180764
Rows in test set: 45190

In [6]:
from sklearn.model_selection import train_test_split

train_set, test_set = train_test_split(matches, test_size=0.2, random_state=42)

print(f"Rows in train set: {len(train_set)}\nRows in test set: {len(test_set)}")

Rows in train set: 180763
Rows in test set: 45191

In [10]:
print(train_set)

             ID  innings  overs  ballnumber       batter             bowler  \
195074   419121        1     14           2       M Kaif           L Balaji
61483   1136619        1      5           3     S Dhawan          SP Narine
31719   1254060        1     19           4   KD Karthik            B Kumar
9774    1304080        2      1           5      PP Shaw  M Prasidh Krishna
81048   1082627        2     12           4   SP Jackson     Mohammed Siraj
...         ...      ...    ...         ...          ...                ...
119879   734027        2     12           2      V Kohli          SP Narine
103694   829823        2     19           3    MM Sharma      R Vinay Kumar
131932   598071        1      5           1     S Dhawan          SR Watson
146867   598009        2      6           1  LRPL Taylor        JP Faulkner
121958   734009        1     10           5    AT Rayudu    Shakib Al Hasan

            non-striker extra_type  batsman_run  extras_run  total_run  \
195074     Yuvraj Singh        NaN            2           0          2
61483           WP Saha        NaN            1           0          1
31719   Shakib Al Hasan      wides            0           1          1
9774          DA Warner        NaN            0           0          0
81048         YK Pathan        NaN            0           0          0
...                 ...        ...          ...         ...        ...
119879      YV Takawale        NaN            0           0          0
103694        RA Jadeja        NaN            6           0          6
131932         CL White        NaN            0           0          0
146867         AJ Finch        NaN            1           0          1
121958        RG Sharma        NaN            0           0          0

        non_boundary  isWicketDelivery player_out kind fielders_involved  \
195074             0                 0        NaN  NaN               NaN
61483              0                 0        NaN  NaN               NaN
31719              0                 0        NaN  NaN               NaN
9774               0                 0        NaN  NaN               NaN
81048              0                 0        NaN  NaN               NaN
...              ...               ...        ...  ...               ...
119879             0                 0        NaN  NaN               NaN
103694             0                 0        NaN  NaN               NaN
131932             0                 0        NaN  NaN               NaN
146867             0                 0        NaN  NaN               NaN
121958             0                 0        NaN  NaN               NaN

                        BattingTeam
195074              Kings XI Punjab
61483           Sunrisers Hyderabad
31719         Kolkata Knight Riders
9774                 Delhi Capitals
81048         Kolkata Knight Riders
...                             ...
119879  Royal Challengers Bangalore
103694          Chennai Super Kings
131932          Sunrisers Hyderabad
146867                Pune Warriors
121958               Mumbai Indians

[180763 rows x 17 columns]

In [15]:
from sklearn.model_selection import StratifiedShuffleSplit

split = StratifiedShuffleSplit(n_splits=1, test_size=0.2, random_state=42)
for train_index, test_index in split.split(matches, matches["isWicketDelivery"]):
    strat_train_set = matches.loc[train_index]
    strat_test_set = matches.loc[test_index]
    
strat_test_set.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 45191 entries, 68028 to 164825
Data columns (total 17 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   ID                 45191 non-null  int64
 1   innings            45191 non-null  int64
 2   overs              45191 non-null  int64
 3   ballnumber         45191 non-null  int64
 4   batter             45191 non-null  object
 5   bowler             45191 non-null  object
 6   non-striker        45191 non-null  object
 7   extra_type         2388 non-null   object
 8   batsman_run        45191 non-null  int64
 9   extras_run         45191 non-null  int64
 10  total_run          45191 non-null  int64
 11  non_boundary       45191 non-null  int64
 12  isWicketDelivery   45191 non-null  int64
 13  player_out         2230 non-null   object
 14  kind               2230 non-null   object
 15  fielders_involved  1582 non-null   object
 16  BattingTeam        45191 non-null  object
dtypes: int64(9), object(8)
memory usage: 6.2+ MB

In [19]:
strat_train_set["isWicketDelivery"].value_counts()

0    171842
1      8921
Name: isWicketDelivery, dtype: int64